doctype html
html(ng-app="oc-project")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700')

    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    
    link(rel='stylesheet', href='/styles/main.css?v=' + version)

  body

    header
      a(href="/auth/openid", ng-hide="user") login con openID

      div(ng-show="user") 
        p {{user.name}}
        p {{user.email}}
        img(ng-src="{{user.picture}}")
        p
          a(href="/#/profile") editar perfil
        p
          a(href="/logout") logout
        ul
          li
            a(href="/#/profile") Mi Perfil
          li
            a(ng-show="user.role=='admin' || user.role=='superadmin'" href="/#/admin/challenges") Mis concursos
          li
            a(ng-show="user.role=='superadmin'" href="/#/admin/users") Usuarios 

    .container#page(ng-view)

    footer
    #modals-container

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js")

    script(src="/ng-client/openChallengeApp.js")
    script(src="/ng-client/modules/home/homeCtrl.js")
    script(src="/ng-client/modules/challenge/challengeCtrl.js")
    script(src="/ng-client/modules/user/editProfileCtrl.js")
    script(src="/ng-client/modules/user/viewProfileCtrl.js")

    script(src="/ng-client/modules/admin/adminUsersCtrl.js")

    script.
      window.openchallenge = { 
        subdomain: "!{subdomain}",
        baseURL: "!{host}",
        disqus_shortname: "!{disqus_shortname}",
        statuses: "!{statuses}",
        providers: "!{providers}"
      };

    if ("undefined" == typeof user)
      script.
        window.openchallenge.user = null;
    else 
      script.
        window.openchallenge.user = !{JSON.stringify(user)};      

    script.
      $(function(){
        
      });

    script().
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41680841-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();