doctype html
html(ng-app="oc-project")
  head
    meta(name="fragment", content="!")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
<<<<<<< HEAD
    title(ng-bind="'BA Concursos' + $root.title")
      title
    link(rel="shortcut icon", href="/bastrap/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    //link(rel='stylesheet', href='/css/open-sans.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    
    link(rel='stylesheet', href='/bastrap/bastrap.css?v=' + version)
    link(rel='stylesheet', href='/css/main.css?v=' + version)
    link(rel='stylesheet', href='/css/colorpicker.css')
    link(rel='stylesheet', href='/css/angular-social.css')

  body

    .wrapper
      .navbar.navbar-primary.navbar-top(role='navigation')
        .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') 
                img(src="/bastrap/bac-header.png")
            .navbar-collapse.collapse.navbar-right
              ul.nav.navbar-nav.pull-right
                li
                  a(href="/auth/openid", ng-hide="user") Ingresar
                li.dropdown(ng-show="user")
                  a.dropdown-toggle(href='', data-toggle='dropdown')
                    img.avatar(ng-src="{{user.picture}}")
                    span {{user.name}}
                    b.caret
                  ul.dropdown-menu
                    li
                      a {{user.email}}
                    li
                      a(href="/#/profile") Editar perfil
                    li
                      a(href="/#/profile") Mi Perfil
                    li.divider(ng-show="user.role=='admin' || user.role=='superadmin'")
                    li.dropdown-header(ng-show="user.role=='admin' || user.role=='superadmin'") Admin
                    li
                      a(ng-show="user.role=='admin' || user.role=='superadmin'" href="/#/challenge/add") Nuevo concurso
                    li
                      a(ng-show="user.role=='superadmin'" href="/#/admin/users") Admin - Usuarios 
                    li
                      a(ng-show="user.role=='admin' || user.role=='superadmin'" href="/#/admin/challenges") Admin - Mis concursos
                    li.divider
                    li
                      a(href="/logout") Cerrar sesión de concursos


      header         

      #page(ng-view)

=======

    title= meta.title
    meta(name="description", content= meta.description)
    link(rel='image_src', type='image/png', href= meta.image)

    meta(property='og:image', content= meta.image)
    meta(property='og:title', content= meta.title)
    meta(property='og:description', content= meta.description)
    meta(property='og:url', content='http://hackdash.org')
    meta(property='og:site_name', content='HackDash')
    meta(property='og:type', content='website')

    meta(property='twitter:card', content='summary')
    meta(property='twitter:title', content= meta.title)
    meta(property='twitter:description', content= meta.description)
    meta(property='twitter:image:src', content= meta.image)

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700')

    link(rel='stylesheet', href='/styles/vendor.css?v=' + version)
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')

    link(rel='stylesheet', href='/styles/main.css?v=' + version)

  body

    header
    .container#page
      #main
        block content
>>>>>>> FETCH_HEAD
    footer
      .navbar
        .container
          .row
            .col-md-6
              a.navbar-brand(href="http://www.buenosaires.gob.ar/")
                img(src="bastrap/bac-footer.png")
            .col-md-6
              .sub-brand
                img(src="images/ba-evoluciona-logo.png")

    #modals-container

    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/jquery.filedrop.js")
    script(src="/js/libs/moment.js")
    script(src="/js/libs/bootstrap.min.js")
    script(src="/js/libs/lodash.min.js")

    script(src="/js/libs/angular.min.js")
    script(src="/js/libs/ui-bootstrap-0.11.0.min.js")
    script(src="/js/libs/angular-route.min.js")
    script(src="/js/libs/bootstrap-colorpicker-module.js")
    script(src="/js/libs/restangular.min.js")
    script(src="/js/libs/textAngular-sanitize.min.js")
    script(src="/js/libs/textAngular.min.js")
    script(src="/js/libs/00-directive.js")
    script(src="/js/libs/02-facebook.js")
    script(src="/js/libs/03-twitter.js")
    script(src="/js/libs/04-google-plus.js")


    script(src="/ng-client/openChallengeApp.js")
    script(src="/ng-client/directives.js")
    script(src="/ng-client/modules/home/homeCtrl.js")
    script(src="/ng-client/modules/challenge/challengeCtrl.js")
    script(src="/ng-client/modules/user/editProfileCtrl.js")
    script(src="/ng-client/modules/user/viewProfileCtrl.js")
    script(src="/ng-client/modules/project/projectCtrl.js")
    script(src="/ng-client/modules/login/loginCtrl.js")

    script(src="/ng-client/modules/admin/adminUsersCtrl.js")
    script(src="/ng-client/modules/admin/adminChallengesCtrl.js")
    script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js")
    script(src="/js/ng-csv.min.js")
    script(src="/js/libs/masonry.pkgd.min.js")



    script.
<<<<<<< HEAD
      window.openchallenge = { 
=======
      window.hackdash = {
>>>>>>> FETCH_HEAD
        subdomain: "!{subdomain}",
        baseURL: "!{host}",
        disqus_shortname: "!{disqus_shortname}",
        statuses: "!{statuses}".split(','),
        dash_statuses: "!{dash_statuses}".split(','),
        providers: "!{providers}",
        roles: "!{roles}".split(','),
        page_contents_type: "!{page_contents_type}".split(','),
        permissions: "!{permissions}".split(',')
      };

    if ("undefined" == typeof user)
      script.
<<<<<<< HEAD
        window.openchallenge.user = null;
    else 
      script.
        window.openchallenge.user = !{JSON.stringify(user)};      
=======
        window.hackdash.user = null;
    else
      script.
        window.hackdash.user = !{JSON.stringify(user)};

    script(src="/js/hackdashApp.js?v=" + version)

    script.
      $(function(){
        window.hackdash.startApp();
      });
>>>>>>> FETCH_HEAD

    script().
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17784640-36', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
