doctype html
html(ng-app="oc-project")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/open-sans.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    
    link(rel='stylesheet', href='/css/main.css?v=' + version)

  body

    header
      a(href="/auth/openid", ng-hide="user") login con openID

      div(ng-show="user") 
        p {{user.name}}
        p {{user.email}}
        img(ng-src="{{user.picture}}")
        p
          a(href="/#/profile") editar perfil
        p
          a(href="/logout") logout
        p
          a(href="/#/profile") Mi Perfil
        p
          a(ng-show="user.role=='admin' || user.role=='superadmin'" href="/#/challenge/add") Nuevo concurso
        p
          a(ng-show="user.role=='superadmin'" href="/#/admin/users") Admin - Usuarios 
        p
          a(ng-show="user.role=='admin' || user.role=='superadmin'" href="/#/admin/challenges") Admin - Mis concursos 

    .container#page(ng-view)

    footer
    #modals-container

    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/bootstrap.min.js")
    script(src="/js/libs/lodash.min.js")

    script(src="/js/libs/angular.min.js")
    script(src="/js/libs/angular-route.min.js")
    script(src="/js/libs/restangular.min.js")

    script(src="/ng-client/openChallengeApp.js")
    script(src="/ng-client/modules/home/homeCtrl.js")
    script(src="/ng-client/modules/challenge/challengeCtrl.js")
    script(src="/ng-client/modules/user/editProfileCtrl.js")
    script(src="/ng-client/modules/user/viewProfileCtrl.js")
    script(src="/ng-client/modules/project/projectCtrl.js")

    script(src="/ng-client/modules/admin/adminUsersCtrl.js")
    script(src="/ng-client/modules/admin/adminChallengesCtrl.js")

    script.
      window.openchallenge = { 
        subdomain: "!{subdomain}",
        baseURL: "!{host}",
        disqus_shortname: "!{disqus_shortname}",
        statuses: "!{statuses}",
        providers: "!{providers}",
        roles: "!{roles}".split(','),
        page_contents_type: "!{page_contents_type}".split(','),
        permissions: "!{permissions}".split(',')
      };

    if ("undefined" == typeof user)
      script.
        window.openchallenge.user = null;
    else 
      script.
        window.openchallenge.user = !{JSON.stringify(user)};      

    script.
      $(function(){
        
      });

    script().
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41680841-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();